In [2]:
import pandas as pd
import numpy as np

Final energy consumption in households covers the energy consumption of households (individual dwellings, apartments, etc.) for space heating, water heating, cooling, cooking as well as electricity consumption by various electrical appliances. Self-produced electricity is included and counts as consumption of electricity. Self-produced heat is counted only for active system, systems for passive heating are excluded from the scope of energy statistics.

In [3]:
df=pd.read_csv("ten00125__custom_7257799_linear.csv")

In [4]:
df.head(10)

,DATAFLOW,LAST UPDATE,freq,nrg_bal,siec,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:TEN00125(1.0),28/04/23 11:00:00,A,FC_OTH_HH_E,E7000,KTOE,AL,2010,222.528,NaN
1,ESTAT:TEN00125(1.0),28/04/23 11:00:00,A,FC_OTH_HH_E,E7000,KTOE,AL,2011,233.190,NaN
2,ESTAT:TEN00125(1.0),28/04/23 11:00:00,A,FC_OTH_HH_E,E7000,KTOE,AL,2012,262.253,NaN
3,ESTAT:TEN00125(1.0),28/04/23 11:00:00,A,FC_OTH_HH_E,E7000,KTOE,AL,2013,331.900,NaN
4,ESTAT:TEN00125(1.0),28/04/23 11:00:00,A,FC_OTH_HH_E,E7000,KTOE,AL,2014,300.946,NaN
5,ESTAT:TEN00125(1.0),28/04/23 11:00:00,A,FC_OTH_HH_E,E7000,KTOE,AL,2015,274.377,NaN
6,ESTAT:TEN00125(1.0),28/04/23 11:00:00,A,FC_OTH_HH_E,E7000,KTOE,AL,2016,257.180,NaN
7,ESTAT:TEN00125(1.0),28/04/23 11:00:00,A,FC_OTH_HH_E,E7000,KTOE,AL,2017,252.325,NaN
8,ESTAT:TEN00125(1.0),28/04/23 11:00:00,A,FC_OTH_HH_E,E7000,KTOE,AL,2018,270.591,NaN
9,ESTAT:TEN00125(1.0),28/04/23 11:00:00,A,FC_OTH_HH_E,E7000,KTOE,AL,2019,268.293,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2410 entries, 0 to 2409
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     2410 non-null   object
 1   LAST UPDATE  2410 non-null   object
 2   freq         2410 non-null   object
 3   nrg_bal      2410 non-null   object
 4   siec         2410 non-null   object
 5   unit         2410 non-null   object
 6   geo          2410 non-null   object
 7   TIME_PERIOD  2410 non-null   int64
 8   OBS_VALUE    2410 non-null   float64
 9   OBS_FLAG     0 non-null      float64
dtypes: float64(2), int64(1), object(7)
memory usage: 188.4+ KB

In [6]:
df.geo.unique()

array(['AL', 'AT', 'BA', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EE', 'EL',
       'ES', 'EU27_2020', 'FI', 'FR', 'GE', 'HR', 'HU', 'IE', 'IS', 'IT',
       'LT', 'LU', 'LV', 'MD', 'ME', 'MK', 'MT', 'NL', 'NO', 'PL', 'PT',
       'RO', 'RS', 'SE', 'SI', 'SK', 'TR', 'UA', 'UK', 'XK'], dtype=object)

In [7]:
df.siec.unique()

array(['E7000', 'G3000', 'O4630', 'O4669', 'RA410'], dtype=object)

In [9]:
df.TIME_PERIOD.unique()

array([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
       2021], dtype=int64)

In [12]:
df.freq.unique()

array(['A'], dtype=object)

In [13]:
df.unit.unique()

array(['KTOE'], dtype=object)

In [11]:
df.isnull().sum()

DATAFLOW          0
LAST UPDATE       0
freq              0
nrg_bal           0
siec              0
unit              0
geo               0
TIME_PERIOD       0
OBS_VALUE         0
OBS_FLAG       2410
dtype: int64